body {
    background-color: darkkhaki;
}
.list-card {
    background-color: lightgray;
    border: 1px solid black;
}
.label {
    margin-top: 5px;
    margin-bottom: 2px;
}

#form {
    display: none;
    z-index: 9;
    background-color: gray;
    /* Centers popup */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blur {
    filter: blur(100px);
}
.wrong-input {
    color: darkred;
}
