body {
    /*
    background-image: linear-gradient(
        to right,
        rgb(0, 255, 234),
        rgb(0, 255, 132)
    );*/
    background-image: linear-gradient(
        to right,
        rgb(251, 242, 198),
        rgb(252, 240, 132)
    );
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
#library-overview-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#book-img {
    width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
}
#library-overview {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 100%;
}
#library-overview > p,
h3 {
    margin: 10px;
}
#list-heading-container {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    align-items: center;
}
#list-heading-container > p {
    justify-self: end;
}
#sort-by,
#show-by {
    padding: 1px;
    margin: 20px;
    max-width: 70px;
    min-width: 50px;
    min-height: 0;
}
#sort-by {
    min-width: 100px;
    max-width: 150px
}
#book-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.list-card {
    background-image: linear-gradient(
        to right,
        rgb(255, 248, 201),
        rgb(255, 214, 143)
    );
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.label {
    margin-top: 5px;
    margin-bottom: 2px;
}

#form {
    display: none;
    z-index: 9;
    background-color: gray;
    /* Centers popup */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blur {
    filter: blur(100px);
}
.wrong-input {
    color: darkred;
}
#rating-text {
    display: inline;
}
#add-btn {
    color: white;
    background-color: rgb(0, 132, 255);
    height: 60px;
    width: 60px;
    padding: 0px;
    border-radius: 30px;
    border: none;
    font-size: 30px;
    position: fixed;
    right: 50px;
    bottom: 50px;
}
